@charset "utf-8";

:root {
  --main-color: #202124;
  --base-color: #e8eaed;
  --accent-color: #006bb3;
  color: var(--main-color);
  background-color: var(--base-color);
  font-size: 16px;
  line-height: 1.7;
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', sans-serif;
  margin: 0;
}

a {
  color: var(--accent-color);
}

a,
a:visited,
a:hover,
a:active {
  color: var(--accent-color);
}

li {
  line-height: 2;
}

ol, ul {
  padding-left: 1.7rem;
}

textarea {
  width: 90%;
}

h2 {
  font-size: 120%;
  border-left: solid 10px;
  border-bottom: solid 1px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 3rem;
}

h3 {
  font-size: 110%;
  border-bottom: solid 1px;
  margin-left: 5px;
  padding: 3px;
  margin-top: 2rem;
}

h4 {
  margin-top: 1rem;
  font-size: 100%;
  border-bottom: dotted 1px;
}

strong {
  background: linear-gradient(transparent 75%, #c1e0ff 75%);
  border-radius: 6px;
}

blockquote {
  margin: 0;
  position: relative;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
  font-style: italic;
  border: solid 1px;
}

pre {
  overflow: auto;
  background-color: var(--base-color);
  padding: 1rem;
  font-size: 90%;
}

code {
  font-family: Consolas, "Courier New", Courier, Monaco, monospace;
}

.tag {
  font-size: 85%;
  margin: 0 0.5rem 0 0;
  padding: 0.3rem;
  background: var(--accent-color);
  border-radius: 3px;
}

.tags a {
  color: var(--base-color);
  text-decoration: none;
}

.thumbnail {
  max-width: 95%;
  padding: 1.5rem 0 1.5rem 0;
  margin: auto;
  display: block;
}

.main-content {
  padding: 0.8rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  overflow-wrap: break-word;
}

.header {
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
}

.site-title a {
  color: var(--base-color);
  text-decoration: none;
}

.footer {
  background-color: var(--main-color);
  color: var(--base-color);
  padding: 10px;
  text-align: center;
}